In [6]:
import pandas as pd

ruta_csv = 'D:/trading/reports/backtesting/bt_heuristicas_2025-05-27.csv'
df = pd.read_csv(ruta_csv)
df.shape

(244413, 10)

In [2]:
df.columns.tolist()

['simbolo',
 'estrategia',
 'fecha_entry',
 'fecha_exit',
 'signal',
 'entry',
 'exit',
 'retorno',
 'tp_hit',
 'sl_hit']

In [3]:
df.head()

,simbolo,estrategia,fecha_entry,fecha_exit,signal,entry,exit,retorno,tp_hit,sl_hit
0,AEP,gap_open_strategy,2006-10-10,2006-10-18,buy,39.31,41.19,0.0478,True,False
1,AEP,gap_open_strategy,2007-08-06,2007-08-14,buy,46.31,44.93,-0.0298,False,True
2,AEP,gap_open_strategy,2007-08-09,2007-08-14,sell,46.97,44.93,0.0434,True,False
3,AEP,gap_open_strategy,2007-08-17,2007-08-27,buy,46.47,45.07,-0.0301,False,True
4,AEP,gap_open_strategy,2008-01-22,2008-01-23,sell,42.65,44.28,-0.0382,False,True

In [4]:
df.isna().sum()

simbolo        0
estrategia     0
fecha_entry    0
fecha_exit     0
signal         0
entry          0
exit           0
retorno        0
tp_hit         0
sl_hit         0
dtype: int64

In [5]:
df.describe(include='all')

,simbolo,estrategia,fecha_entry,fecha_exit,signal,entry,exit,retorno,tp_hit,sl_hit
count,244413,244413,244413,244413,244413,244413.000000,244413.000000,244413.000000,244413,244413
unique,50,13,5000,4997,2,NaN,NaN,NaN,2,2
top,PRMB,macd_hist_reversal,2025-04-04,2025-04-09,sell,NaN,NaN,NaN,False,False
freq,10227,69093,223,307,126634,NaN,NaN,NaN,187514,141840
mean,NaN,NaN,NaN,NaN,NaN,56.624074,56.692911,0.001581,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,56.987930,57.058246,0.043837,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.060000,0.060000,-1.205500,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,24.049999,24.051666,-0.026100,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,39.720000,39.783680,-0.004600,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,68.240000,68.410000,0.033300,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,564.099976,564.099976,1.205500,NaN,NaN

In [8]:
df_filtrado = df[
    (df['estrategia'].isin(['rsi_reversion', 'macd_hist_reversal', 'ma_envelope_reversals']))
]

ranking_simbolos = (
    df_filtrado
    .groupby('simbolo')
    .agg(
        total_trades=('retorno', 'count'),
        avg_retorno=('retorno', 'mean'),
        winrate=('retorno', lambda x: (x > 0).mean())
    )
    .sort_values(by='avg_retorno')
)

ranking_simbolos.head(10)  # Ver simbolos con peor rendimiento

         total_trades  avg_retorno   winrate
simbolo
VLYPN             139    -0.000588  0.460432
MRNA             2574     0.000119  0.424631
KHC              2888     0.000233  0.465028
TBB              2078     0.000278  0.489413
FITBO            1668     0.000291  0.471823
SOJC             2515     0.000572  0.473559
LPLA             4885     0.000660  0.439918
ED               5096     0.000756  0.475471
DGX              5556     0.000896  0.476062
BAC              6456     0.000916  0.448420

In [10]:
simbolos_malos = ranking_simbolos.query("avg_retorno < 0 or winrate < 0.45").index.tolist()
simbolos_malos

['VLYPN',
 'MRNA',
 'LPLA',
 'BAC',
 'DELL',
 'PRMB',
 'CFG',
 'C',
 'BX',
 'TEM',
 'PEN',
 'PSTG',
 'RKT',
 'PCTY',
 'HPE',
 'BTSGU',
 'OWL',
 'TPG',
 'EXE',
 'SYM']